format = """
$directory\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$fill\
$cmd_duration\
$jobs\
$line_break\
$character"""

[directory]
read_only = ' 󰌾'
truncation_length = 10
truncation_symbol = '.../'
truncate_to_repo = false

[git_branch]
symbol = ' '
format = '[$symbol$branch(:$remote_branch)]($style) '

[git_status]
format = '([\[$all_status$ahead_behind\]]($style) )'
style = 'cyan'

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = 'bright-black'

[git_metrics]
disabled = false

[fill]
symbol = ' '

[jobs]
symbol = ''
style = 'bold red'
format = '[$symbol]($style) '

